:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background: #121213;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.guessContainer {
  display: grid;
  grid-gap: 10px ;
  grid-template-rows: repeat(6, 1fr);
  box-sizing: border-box;
  padding: 10px;
  width: 350px;
  height: 420px;
}

.guessContainerRow {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}

.guessBox {
  border: 2px solid #3a3a3c;
  font-size: 32px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.guessBox div {
  margin: auto;
}

.guessBox.active {
  border: 2px solid #565758;
  animation-name: pop;
  animation-duration: 100ms;
}

.guessContainerRow.invalid {
  animation-name: row_shake;
  animation-duration: 600ms;
}

@keyframes pop {
  0%   {transform: scale(0.8);opacity: 0;}
  40%  {transform: scale(1.1);opacity: 1;}
}

@keyframes row_shake {
  10%, 90% {
    transform: translateX(-1px);
}
20%, 80% {
    transform: translateX(2px);
}
30%, 50%, 70% {
    transform: translateX(-4px);
}
40%, 60% {
    transform: translateX(4px);
}
}

.guessBox.lastGuess {
  animation-name: FlipGuess;
  animation-duration: 480ms;
  animation-timing-function: ease-in-out;
  transition: background-color border-color 0s;
  transition-delay: 240ms;
}

@keyframes FlipGuess {
  0% {
      transform: rotateX(0)
  }

  50% {
      transform: rotateX(-90deg);
  }

  100% {
    transform: rotateX(0);
  }
}

.guessBox.correct {
  border-color: #538d4e;
  background: #538d4e;
}

.guessBox.close {
  border-color: #b59f3b;
  background: #b59f3b;
}

.guessBox.miss {
  border-color: #3a3a3c;
  background: #3a3a3c;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.keyboard .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.keyboard button {
  border-radius: 4px;
  background: #818384;
  width: 3rem;
  height: 3.5rem;
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.keyboard .close {
  background: #b59f3b;
}
.keyboard .correct {
  background: #538d4e;
}
.keyboard .miss {
  background: #3a3a3c;
}

.keyboard .ENTER {
  width: 3.5em;
}

.keyboard .BACKSPACE {
  width: 3.5em;
  border-radius: 4px;
  background: #818384;
}

.wordPanel {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.wordPanel .message{
  font-size: 16px;
}